Application {
	backgroundColor: #484848;
	backgroundGradientColors: "[#000000, #000000]";
	backgroundImage: Embed(source="vdomTheme.swf", symbol="ApplicationBackground");
	backgroundAlpha: 1.0;
    backgroundSize: "100%";
	backgroundGradientAlphas: 1, 1;
}

/*
//------------------------------
//  Tab
//------------------------------
*/
Tab {
	disabledSkin: Embed(source="vdomTheme.swf", symbol="TabDisabledSkin");
	downSkin: Embed(source="vdomTheme.swf", symbol="TabDownSkin");
	overSkin: Embed(source="vdomTheme.swf", symbol="TabOverSkin");
	upSkin: Embed(source="vdomTheme.swf", symbol="TabUpSkin");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDisabledSkin");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDownSkin");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedOverSkin");
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedUpSkin");
	
}

LoginForm {
	
	backgroundImage: Embed(source="vdomTheme.swf", symbol="LoginBackground");
	backgroundSize: "100%";
}

FormItemLabel {
			
	color: #ffffff;
}

.loginButtonOK {
	color: #ffffff;
	disabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	downSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	overSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	upSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
}

.loginButtonQuit {
	color: #ffffff;
	disabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	downSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	overSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	upSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
}

MainTabNavigator {
	backgroundColor: #191919;
	backgroundAlpha: .1;	
}

AdvancedTabNavigator {

	tabStyleName: "advancedTab";
	paddingTop: 0;
	tabBarPosition: "bottom";
}

.advancedTabTop {
	disabledSkin: Embed(source="vdomTheme.swf", symbol="TabDisabledSkin");
	downSkin: Embed(source="vdomTheme.swf", symbol="TabDownSkin");
	overSkin: Embed(source="vdomTheme.swf", symbol="TabOverSkin");
	upSkin: Embed(source="vdomTheme.swf", symbol="TabUpSkin");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDisabledSkin");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDownSkin");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedOverSkin");
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedUpSkin");
}

.advancedTabBottom {
	disabledSkin: Embed(source="vdomTheme.swf", symbol="TabDisabledSkinBottom");
	downSkin: Embed(source="vdomTheme.swf", symbol="TabDownSkinBottom");
	overSkin: Embed(source="vdomTheme.swf", symbol="TabOverSkinBottom");
	upSkin: Embed(source="vdomTheme.swf", symbol="TabUpSkinBottom");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDisabledSkinBottom");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDownSkinBottom");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedOverSkinBottom");
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedUpSkinBottom");
}

.mainCanvas {
	borderThickness: 1;
	borderColor: #ffffff;
	borderStyle: solid;
	backgroundColor: #c2c2c2;
}

Types {
	borderThickness: 1;
	borderColor: #ffffff;
	borderStyle: solid;
	textAlign:center;
	backgroundColor: #c2c2c2;
	headerStyleName: typesHeaderStyle ;
}

.typesHeaderStyle {
	color: #ffffff;
	highlightAlphas: 0, 0;
	selectedFillColors: #d91107, #d91107;
	textRollOverColor:#ffffff;
	textSelectedColor:#ffffff; 
	fillAlphas:1, 1;
	fillColors:#d91107, #d91107;
}
Item {
	
}
ClosablePanel {
	CollapseButtonOnButtonUp: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnUp");
	CollapseButtonOnButtonDown: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnDown");
	CollapseButtonOnButtonOver: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnOver");
	CollapseButtonOnButtonDisabled: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnDisabled");
	CollapseButtonOffButtonUp: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffUp");
	CollapseButtonOffButtonDown: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffDown");
	CollapseButtonOffButtonOver: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffOver");
	CollapseButtonOffButtonDisabled: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffDisabled");
	
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	cornerRadius: 0;
	headerHeight: 20;
	backgroundColor: #c2c2c2;
	borderThicknessLeft: 0;
	borderThicknessRight: 0;
	titleStyleName: closablePanelTitle;
}
.closablePanelTitle {
	color: #ffffff;
}
ResizeManager {
	boxSize: 6px;
	borderColor: #ff0000;
	borderAlpha: 0;
	backgroundAlpha: 0.9;
	leftRightCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorLeftRight");
	topDownCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorTopDown");
	topLDownRCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorTopLDownR");
	topRDownLCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorTopRDownL");
	moveCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorMove");
}
ActionPanel {
	color: #ffffff;
	borderAlpha: 1;	
	headerColors: #4e84df, #0f6cc3;
	footerColors: #d91107, #d91107;
	headerHeight: 0;
	fontWeight: bold;
	roundedBottomCorners: true;
	cornerRadius: 0;
	paddingTop: 5;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	highlightAlphas: 0, 0.12;
	backgroundColor: #484848;
	layout: absolute;
	borderColor: #ffffff;
	dropShadowEnabled: true;
	borderStyle: solid;
	borderThickness: 1;
}
WorkArea {
	dropShadowEnabled: true;
	backgroundColor: #ffffff;
	backgroundAlpha: 1.0; 
	borderStyle: solid; 
	borderThickness: 1;
	borderColor: #000000;
}
ControlBar {
	backgroundAlpha: 1;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
}
.actionPanlelLabel {
	fontFamily: Verdana;
	textAlign: center;
}