global {
	
	moveCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorMove");
	
	topDownCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorTopDown");
	leftRightCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorLeftRight");
	topLDownRCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorTopLDownR");
	topRDownLCursor: Embed(source="vdomTheme.swf", symbol="ResizeCursorTopRDownL");
	
	appIconFile: Embed("app_icon_file.png");
	appIconBook: Embed("app_icon_book.png");
	appIconBooks: Embed("app_icon_books.png");
	appIconCommunicate: Embed("app_icon_communicate.png");
	appIconCubes: Embed("app_icon_cubes.png");
	appIconDiagram: Embed("app_icon_diagram.png");
	appIconHost: Embed("app_icon_host.png");
	appIconMolecule: Embed("app_icon_molecule.png");
	appIconOrder: Embed("app_icon_order.png");
	appIconPen: Embed("app_icon_pen.png");
	appIconSetting: Embed("app_icon_setting.png");
	appIconShoppingl: Embed("app_icon_shoppingl.png");
}

WindowedApplication {
	
	statusBarBackgroundColor: #000000;
	backgroundAlpha: 0;
	borderStyle: none;	
}

Alert {
	
	modalTransparencyDuration:0;
	modalTransparencyBlur:0;
	modalTransparency:0;
}

TitleWindow {
	
	modalTransparencyDuration:0;
	modalTransparencyBlur:0;
	modalTransparency:0;
}

VdomTitleBar {
	
	backgroundSize: "100%";
	backgroundImage: Embed(source="vdomTheme.swf", symbol="TitleBarBackground");
	
	minimizeButtonSkin: ClassReference("vdom.skins.TitleBarMinimizeButtonSkin");
	maximizeButtonSkin: ClassReference("vdom.skins.TitleBarMaximizeButtonSkin");
	restoreButtonSkin: ClassReference("vdom.skins.TitleBarRestoreButtonSkin");
	closeButtonSkin: ClassReference("vdom.skins.TitleBarCloseButtonSkin");
}

TabNavigator {
		
	tabStyleName: "tabStyle";
}

.tabStyle {
	
	color: #444444;
	textRollOverColor: #444444;
	upSkin: Embed(source="vdomTheme.swf", symbol="TabUpSkinTop");
	overSkin: Embed(source="vdomTheme.swf", symbol="TabOverSkinTop");
	downSkin: Embed(source="vdomTheme.swf", symbol="TabDownSkinTop");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="TabDisabledSkinTop");
	
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedUpSkinTop");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedOverSkinTop");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDownSkinTop");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDisabledSkinTop");
}

MainTabNavigator {
	
	color: #444444;
	textSelectedColor: #444444;
	textRollOverColor: #444444;
	
		
	tabStyleName: "mainTabStyle";
	selectedTabTextStyleName: "selectedTab";	
}

.mainTabStyle {
	
	upSkin: Embed(source="vdomTheme.swf", symbol="EditorTabUp");
	overSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");
	downSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");

	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="EditorTabSelect");
	
}

.selectedTab {
	
	color: #000000;
	textSelectedColor: #000000;
	textRollOverColor: #000000;
}

LoginForm {
	
	backgroundImage: Embed(source="vdomTheme.swf", symbol="LoginBackground");
	backgroundSize: "100%";
}

FormItemLabel {
			
	color: #ffffff;
}

.loginButtonOK {
	
	color: #ffffff;
	
	upSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	overSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	downSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");

	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");	
}

.loginButtonQuit {
	
	color: #ffffff;
	
	upSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	overSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	downSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
}

ControlPanel, .vdomBackground {
	
	backgroundAlpha: 1.0;
    backgroundSize: "100%";
	backgroundGradientAlphas: 1, 1;
	
	backgroundImage: Embed(source="vdomTheme.swf", symbol="ApplicationBackground");
}

MainTabNavigator {
	
	paddingTop: 0;
	paddingBottom: 0;
	paddingRight: 0;
	paddingLeft: 0;
}

AdvancedTabNavigator {

	paddingTop: 0;
	tabBarPosition: "bottom";
	tabHeight: 20;
	selectedTabTextStyleName: "selectedAdvancedTab";
}

.selectedAdvancedTab {
	color: #000000;
	textRollOverColor: #000000;
}

.advancedTabBottom {
	color: #444444;
	textRollOverColor: #444444;
	upSkin: Embed(source="vdomTheme.swf", symbol="TabUpSkinBottom");
	overSkin: Embed(source="vdomTheme.swf", symbol="TabOverSkinBottom");
	downSkin: Embed(source="vdomTheme.swf", symbol="TabDownSkinBottom");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="TabDisabledSkinBottom");
	
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedUpSkinBottom");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedOverSkinBottom");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDownSkinBottom");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDisabledSkinBottom");
}

.advancedTabUp {
	color: #444444;
	textRollOverColor: #444444;
	upSkin: Embed(source="vdomTheme.swf", symbol="TabUpSkinTop");
	overSkin: Embed(source="vdomTheme.swf", symbol="TabOverSkinTop");
	downSkin: Embed(source="vdomTheme.swf", symbol="TabDownSkinTop");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="TabDisabledSkinTop");
	
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedUpSkinTop");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedOverSkinTop");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDownSkinTop");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="TabSelectedDisabledSkinTop");
}

.mainCanvas {
	
	borderStyle: none;
}

TypeAccordion {
	
	borderThickness: 1;
	borderColor: #ffffff;
	borderStyle: solid;
	textAlign:center;
	backgroundColor: #c2c2c2;
	
	headerStyleName: "typesHeaderStyle" ;
}

.typesHeaderStyle {
	
	color: #ffffff;
	highlightAlphas: .3, .3;
	selectedFillColors: #d91107, #d91107;
	textRollOverColor:#ffffff;
	textSelectedColor:#ffffff; 
	fillAlphas:1, 1;
	fillColors:#d91107, #d91107;
	textAlign: center;
}

.typeVScrollBar {
	themeColor: #ff0000;	
}

ClosablePanel {
	
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	cornerRadius: 0;
	headerHeight: 20;
	backgroundColor: #ffffff;
	borderThicknessLeft: 0;
	borderThicknessRight: 0;
	
	titleBackgroundSkin: Embed(source="vdomTheme.swf", symbol="TitleBackgroundSmall");
	
	CollapseButtonOnButtonUp: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnUp");
	CollapseButtonOnButtonOver: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnOver");
	CollapseButtonOnButtonDown: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnDown");
	CollapseButtonOnButtonDisabled: Embed(source="vdomTheme.swf", symbol="CollapseButtonOnDisabled");
	
	CollapseButtonOffButtonUp: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffUp");
	CollapseButtonOffButtonOver: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffOver");
	CollapseButtonOffButtonDown: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffDown");
	CollapseButtonOffButtonDisabled: Embed(source="vdomTheme.swf", symbol="CollapseButtonOffDisabled");
	
	titleStyleName: closablePanelTitle;
}

.closablePanelTitle {
	fontWeight: "bold"; 
	color: #ffffff;
}

AttributesPanel {
	titleBackgroundSkin: Embed(source="vdomTheme.swf", symbol="TitleBackground");
	buttonSkin: Embed(source="vdomTheme.swf", symbol="AttributesPanelButton");
	controlBarStyleName: "attributesControlBar";
	statusStyleName: "attributesStatusField";
	titleStyleName: "attributesTitlesField";
}

.attributesStatusField {
	
	color: #ffffff;
	textAlign: center;
}

.attributesTitlesField {
	
	color: #ffffff;
	fontWeight: "bold"; 
}

.attributesControlBar {
	
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
}

ActionPanel {
	
	color: #ffffff;
	borderAlpha: 1;	
	headerColors: #4e84df, #0f6cc3;
	footerColors: #d91107, #d91107;
	headerHeight: 0;
	fontWeight: bold;
	roundedBottomCorners: true;
	cornerRadius: 0;
	paddingTop: 5;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	highlightAlphas: 0, 0.12;
	backgroundColor: #484848;
	layout: absolute;
	borderColor: #ffffff;
	borderStyle: solid;
	borderThickness: 1;
	controlBarStyleName: actionPanelBar;
}

.actionPanelBar {
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	backgroundImage: Embed(source="vdomTheme.swf", symbol="ActionPanelBar");
	backgroundSize: "100%";
}

WorkArea {
	
	dropShadowEnabled: true;
	backgroundColor: #ffffff;
	backgroundAlpha: 1.0; 
	borderStyle: solid; 
	borderThickness: 1;
	borderColor: #000000;
}

ControlBar {
	
	backgroundAlpha: 1;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

.actionPanlelLabel {
	
	fontFamily: Verdana;
	textAlign: center;
}