/* CSS file */
ActionButton {
	
	color: #ffffff;
	textSelectedColor: #ffffff;
	textRollOverColor: #ffffff;
}

.analyseButton {
	upSkin: Embed("/assets/editor/buttons/Analyse.png");
	overSkin: Embed("/assets/editor/buttons/Analyse_S.png");
	downSkin: Embed("/assets/editor/buttons/Analyse_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Analyse_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Analyse_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Analyse_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Analyse_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Analyse_S.png");
}

.editionButton {
	upSkin: Embed("/assets/editor/buttons/Edition.png");
	overSkin: Embed("/assets/editor/buttons/Edition_S.png");
	downSkin: Embed("/assets/editor/buttons/Edition_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Edition_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Edition_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Edition_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Edition_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Edition_S.png");
}

.eventsButton {
	upSkin: Embed("/assets/editor/buttons/Events.png");
	overSkin: Embed("/assets/editor/buttons/Events_S.png");
	downSkin: Embed("/assets/editor/buttons/Events_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Events_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Events_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Events_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Events_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Events_S.png");
}

.newsButton {
	upSkin: Embed("/assets/editor/buttons/News.png");
	overSkin: Embed("/assets/editor/buttons/News_S.png");
	downSkin: Embed("/assets/editor/buttons/News_S.png");
	disabledSkin: Embed("/assets/editor/buttons/News_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/News_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/News_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/News_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/News_S.png");
}

.previewButton {
	upSkin: Embed("/assets/editor/buttons/Preview.png");
	overSkin: Embed("/assets/editor/buttons/Preview_S.png");
	downSkin: Embed("/assets/editor/buttons/Preview_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Preview_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Preview_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Preview_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Preview_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Preview_S.png");
}

.scriptButton {
	upSkin: Embed("/assets/editor/buttons/Script.png");
	overSkin: Embed("/assets/editor/buttons/Script_S.png");
	downSkin: Embed("/assets/editor/buttons/Script_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Script_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Script_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Script_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Script_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Script_S.png");
}

.statButton {
	upSkin: Embed("/assets/editor/buttons/Stat.png");
	overSkin: Embed("/assets/editor/buttons/Stat_S.png");
	downSkin: Embed("/assets/editor/buttons/Stat_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Stat_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Stat_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Stat_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Stat_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Stat_S.png");
}

.treeButton {
	upSkin: Embed("/assets/editor/buttons/Tree.png");
	overSkin: Embed("/assets/editor/buttons/Tree_S.png");
	downSkin: Embed("/assets/editor/buttons/Tree_S.png");
	disabledSkin: Embed("/assets/editor/buttons/Tree_S.png");

	selectedUpSkin: Embed("/assets/editor/buttons/Tree_S.png");
	selectedOverSkin: Embed("/assets/editor/buttons/Tree_S.png");
	selectedDownSkin: Embed("/assets/editor/buttons/Tree_S.png");
	selectedDisabledSkin: Embed("/assets/editor/buttons/Tree_S.png");
}