WindowedApplication {
	
	statusBarBackgroundColor: #000000;
	backgroundAlpha: 0;
	borderStyle: none;
}

TitleWindow {
	
	modalTransparencyDuration:0;
	modalTransparencyBlur:0;
	modalTransparency:0;
}

LoginForm {
	
	backgroundImage: Embed(source="vdomTheme.swf", symbol="LoginBackground");
	backgroundSize: "100%";
}

FormItemLabel {
			
	color: #FFFFFF;
}

.loginButtonOK {
	
	color: #FFFFFF;
	
	upSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	overSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	downSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");

	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonLeft");	
}

.loginButtonQuit {
	
	color: #FFFFFF;
	
	upSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	overSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	downSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	disabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	
	selectedUpSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedOverSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedDownSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
	selectedDisabledSkin: Embed(source="vdomTheme.swf", symbol="LoginButtonRight");
}