MainScreen
{
	backgroundImage: Embed(source="theme.swf", symbol="MainBackground");
	backgroundSize: "100%";	
}
MainTitleBar
{
	backgroundImage: Embed(source="theme.swf", symbol="MainTitleBarBackground");
	backgroundSize: "100%";
	
	minimizeButton: Embed(source="theme.swf", symbol="MinimizeButton");
	maximizeButton: Embed(source="theme.swf", symbol="MaximizeButton");
	closeButton: Embed(source="theme.swf", symbol="CloseButton");
	restoreButton: Embed(source="theme.swf", symbol="RestoreButton");
}

.mainTabBar {
		
	tabStyleName: "tabStyle";
}

.tabStyle {
	
	color: #444444;
	textRollOverColor: #444444;
	upSkin: Embed(source="theme.swf", symbol="TabUpSkinTop");
	overSkin: Embed(source="theme.swf", symbol="TabOverSkinTop");
	downSkin: Embed(source="theme.swf", symbol="TabDownSkinTop");
	disabledSkin: Embed(source="theme.swf", symbol="TabDisabledSkinTop");
	
	selectedUpSkin: Embed(source="theme.swf", symbol="TabSelectedUpSkinTop");
	selectedOverSkin: Embed(source="theme.swf", symbol="TabSelectedOverSkinTop");
	selectedDownSkin: Embed(source="theme.swf", symbol="TabSelectedDownSkinTop");
	selectedDisabledSkin: Embed(source="theme.swf", symbol="TabSelectedDisabledSkinTop");
}