/*
//------------------------------
//  Tab
//------------------------------
*/
Tab
{

	disabledSkin: Embed(source="AeonGraphical.swf", symbol="Tab_disabledSkin");
	downSkin: Embed(source="AeonGraphical.swf", symbol="Tab_downSkin");
	overSkin: Embed(source="AeonGraphical.swf", symbol="Tab_overSkin");
	selectedDisabledSkin: Embed(source="AeonGraphical.swf", symbol="TabSelected_disabledSkin");
	selectedDownSkin: Embed(source="AeonGraphical.swf", symbol="TabSelected_upSkin");
	selectedOverSkin: Embed(source="AeonGraphical.swf", symbol="TabSelected_upSkin");
	selectedUpSkin: Embed(source="AeonGraphical.swf", symbol="TabSelected_upSkin");
	upSkin: Embed(source="AeonGraphical.swf", symbol="Tab_upSkin");

}
