#content {
width:800px;
}

body {
  background: #fff;
  direction: ltr;
  font-family: Helvetica, tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px;
}
a {
color:#22a2d8;
}

a:hover {
color:#03719f;
}

.toc {
 font-size: 14px;
 list-style:none;
 padding-left:0px;
 border-bottom: 1px solid #ccc;
 margin-bottom:35px;
 margin-top:25px;
 }
.toc li {
padding-bottom:10px;
}

.code {
font-family: 'Courier New', Courier, monospace;
font-size:14px;
}

p {
line-height:1.462;
}

pre {
width:800px;
overflow:auto;
font-size:14px;
padding:5px;
background:#e1f8ff;
border:1px solid #ccc;
}

table {
width:100%;
text-align:left;
border: 1px solid #ccc;
border-collapse:collapse;
}

table td, table th {
padding:5px;
border-bottom:1px solid #d4d4d4;
border-left:1px solid #d4d4d4;
}

table td {
font-size:12px;
}

table th {
background:#f2f2f2;
}

ul {
 font-size: 14px;
 list-style:square outside;
 padding-left:20px;
}

ol {
 font-size: 14px;
  padding-left:20px;
}

ul li, ol li {
padding-bottom:10px;
}
.note {color: green;}
.important {color:red;}