@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";

s | MainScreen
{
	backgroundImage: Embed(source="theme.swf", symbol="MainBackground");
	backgroundSize: "100%";	
}
s | MainTitleBar
{
	backgroundImage: Embed(source="theme.swf", symbol="MainTitleBarBackground");
	backgroundSize: "100%";
	minimizeButton: Embed(source="theme.swf", symbol="MinimizeButton");
	maximizeButton: Embed(source="theme.swf", symbol="MaximizeButton");
	closeButton: Embed(source="theme.swf", symbol="CloseButton");
	restoreButton: Embed(source="theme.swf", symbol="RestoreButton");
}

s | .mainTabBar
{	
	horizontalGap: 1;
	selectedTabTextStyleName : "selectedTabStyle";
	tabStyleName: "tabStyle";
}

s | .selectedTabStyle
{
	color: #FFFFFF;
}

.tabStyle
{	
	color: #969696;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	upSkin: Embed(source="theme.swf", symbol="TabUpSkin");
	overSkin: Embed(source="theme.swf", symbol="TabOverSkin");
	downSkin: Embed(source="theme.swf", symbol="TabDownSkin");
	disabledSkin: Embed(source="theme.swf", symbol="TabDisabledSkin");
	
	selectedUpSkin: Embed(source="theme.swf", symbol="TabSelectedUpSkin");
	selectedOverSkin: Embed(source="theme.swf", symbol="TabSelectedOverSkin");
	selectedDownSkin: Embed(source="theme.swf", symbol="TabSelectedDownSkin");
	selectedDisabledSkin: Embed(source="theme.swf", symbol="TabSelectedDisabledSkin");
}

.buttonBar
{
	backgroundImage: Embed(source="theme.swf", symbol="ButtonBarBackground");
	backgroundSize: "100%";
}

.actionButton
{
	cornerRadius: 0;
	skin: Embed(skinClass="ActionButtonSkin");
}

.vdomLogo
{
	borderSkin: ClassReference("net.vdombox.ide.view.skins.HalloBorderWithImagePositioning");
	backgroundImage: Embed(source="theme.swf", symbol="VDOMLogo");
	backgroundPosition: right,bottom;
}