/* Global style declaration */
global
{
	/*backgroundAlpha: 1.0; /* this runs the opacity of nearly every square piece of the components */
	/*backgroundSize: "auto";*/
	
	titleBarButtonBgColor: #494848;
	
	/*fillAlphas: 0.3, 0.3, 0.85, 0.75; /* last pair are for OVER state */
	/*fillColors: #AE4731, #BFD5E8, #E42226, #A8D0E2;*/
	
	/*highlightAlphas: 0.08, 0.14; /* use this to control the 'light' cast on the components */

	/* themeColor	*/
	themeColor: #68332F;	
	/*rollOverColor: #D3BABA;*/
	/*selectionColor: #D3989C;*/
	
	fontFamily: "Tahoma", "Helvetica", "_sans";
	fontSize: 11;
}

/*
//------------------------------
//  WindowedApplication
//------------------------------
*/

WindowedApplication
{
	borderColor: #707173;
	titleTextStyleName:  "titleTextStyle";
	titleBarColors: #ffffff, #000000;
	titleBarButtonPadding: 2;
	buttonPadding: 2;
	headerHeight: 30;
	buttonAlignment: "auto";

	titleBarBackgroundSkin:  ClassReference("PowerPack.customize.skins.GeneratorApplicationTitleBarBackgroundSkin");
	
	backgroundGradientColors: #C1C1C0, #ffffff; 
}

GenModalDialog
{
	borderColor: #707173;
	titleTextStyleName:  "titleTextStyle";
	titleBarColors: #ffffff, #000000;
	titleBarButtonPadding: 2;
	buttonPadding: 2;
	headerHeight: 30;
	buttonAlignment: "auto";
	verticalGap: 0;
	horizontalGap: 0;	
	backgroundColor: #e1e1e0;

	titleBarBackgroundSkin:  ClassReference("PowerPack.customize.skins.GeneratorApplicationTitleBarBackgroundSkin");
}

Label 
{
	color: #000000;
    fontSize: 11;	
}	

MenuBar
{
	borderColor: #707173;
	backgroundColor: #707173;
	backgroundAlpha: 1.0;
	color: #ffffff;
	fillColors: #707173, #707173;
	fillAlphas: 1.0, 1.0;	
	
	fontSize: 11;
}

Menu
{
	color: #000000;
}

ProgressBar
{
	trackColors: #ffffff, #ffffff;
	trackHeight: 12;
	barColor: #E42327;
	barSkin: ClassReference("PowerPack.customize.skins.GeneratorProgressBarSkin");
}

Button 
{
}

GridItem
{
	horizontalGap: 1;
}

.titleTextStyle 
{ 
    fontFamily: "Arial", "Helvetica", "_sans";
	fontSize: 14;
    fontWeight: bold;
    color: #d9dadb;
    textIndent: 15;
}

.edtTextStyle 
{ 
    fontFamily: "Arial", "Helvetica", "_sans";
	fontSize: 14;
    fontWeight: bold;
    
    color: #000000;
    borderStyle: solid;
    borderColor: #5A5859;
    borderThickness: 2;
}

.infoTextStyle 
{ 
    fontFamily: "Arial", "Helvetica", "_sans";
	fontSize: 14;
}
        
.dlgHeader
{
	paddingLeft: 20;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom : 5;
		
	backgroundColor: #f1f1f0;
}

.dlgContent
{
	verticalGap: 5;
	paddingLeft: 20;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom : 5;
}

.dlgFooter
{
	horizontalAlign: right;
	verticalAlign: bottom;
}

.headerLabel
{
	fontFamily: "Arial", "Helvetica", "_sans";
    fontSize: 16;
    fontWeight: bold;
    textIndent: 0;
	color: #16414A;	
}




