/*
Please remember to add the following effects to the main application.

	<mx:Move duration="100" id="DockerMove"/>
	<mx:Fade duration="100" id="DockerFade"/>
*/

@font-face
{
	src        : url("assets/fonts/arial.ttf");
	fontFamily : Arial;
}

global
{
	/*backgroundAlpha: 1.0; /* this runs the opacity of nearly every square piece of the components */
	/*backgroundSize: "auto";*/
	
	titleBarButtonBgColor : #494848;
	
	/*fillAlphas: 0.3, 0.3, 0.85, 0.75; /* last pair are for OVER state */
	/*fillColors: #AE4731, #BFD5E8, #E42226, #A8D0E2;*/
	
	/*highlightAlphas: 0.08, 0.14; /* use this to control the 'light' cast on the components */
	
	themeColor            : #2ba6e5;
	
	focusThickness		  : 2.5;
	/*rollOverColor: #D3BABA;*/
	/*selectionColor: #D3989C;*/
	
	fontFamily            : Arial;
	fontSize              : 10;
}

TitleBar
{
	/*titleBarButtonBgColors : #707173, #ffffff;*/
	backgroundAlpha : 0;
}

RadioButton
{
	fontFamily	: Arial;
	fontSize	: 13;
	
	fillColor: #ffffff;
	fillAlpha:  1;
	
	icon : ClassReference(null);
	skin : ClassReference("net.vdombox.powerpack.customize.skins.RadioBtnSkin");
	
	borderColor: #747474;
	borderThickness: 2.5;
	borderStyle : none;
	
	color: #ffffff;
	disabledColor:  #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	
	paddingLeft : 20;
	iconRadius : 10;
	
	focusAlpha : 0;
}


WindowedApplication
{
    fontFamily : "Tahoma", "Helvetica", "_sans";
    fontSize   : 11;
}

Window
{
    backgroundColor : #e1e1e0;
    verticalGap     : 0;
    horizontalGap   : 0;
}

Docker
{
    paddingBottom        : 5;
    paddingLeft          : 5;
    paddingRight         : 5;
    paddingTop           : 5;

    dockingAreaStyleName : "dockingArea";
    rowStyleName         : "dockingRow";
}

DockableToolBar
{
    /*addedEffect: "DockerFade";
        borderStyle: "none";
        horizontalGap: 2;
        paddingBottom: 2;
        paddingLeft: 0;
        paddingRight: 8;
        paddingTop: 2;*/
    /*backgroundColor: #9199A4;*/
}

GridItem
{
    horizontalGap : 1;
}

.dockingArea
{
    /*horizontalScrollPolicy: "off";
        verticalGap: 0;
        borderStyle: "applicationControlBar";
        dropShadowEnabled: true;	*/
}

.dockingRow
{
    /*horizontalGap: 1;
        addedEffect: "DockerFade";
        removedEffect: "DockerFade";*/
}

.headerLabel
{
    fontFamily : "Arial", "Helvetica", "_sans";
    fontSize   : 16;
    fontWeight : bold;
    textIndent : 0;
    color      : #16414A;
}

RoundButton
{
	color			: #000000;
	fontSize		: 15;
	fontFamily		: Arial;
	
	fillColors 		: #f1f1f1, #b4b4b4, #c2c2c2, #c2c2c2;
	fillAlphas		: 1,1,1,1;
	
	skin			: ClassReference("net.vdombox.powerpack.customize.skins.RoundButtonSkin");
	
	cornerRadius	: 15;
}

BrowseButton
{
	color			: #000000;
	fontSize		: 15;
	fontFamily		: Arial;
	
	fillColors 		: #f1f1f1, #b4b4b4, #c2c2c2, #c2c2c2;
	fillAlphas		: 1,1,1,1;
	
	skin			: ClassReference("net.vdombox.powerpack.customize.skins.BrowseBtnSkin");
	
	cornerRadius	: 6;
	
}

.keyEdtTextStyle
{
	fontFamily      : Arial;
	fontSize        : 14;
	fontWeight      : bold;
	
	color           : #666666;
	borderStyle     : solid;
	borderColor     : #5A5859;
	borderThickness : 2;
	cornerRadius 	: 10;
}

.browseFileTextStyle
{
	fontFamily      : Arial;
	fontSize        : 13;
	
	color           : #666666;
	borderStyle     : solid;
	borderColor     : #cccccc;
	borderThickness : 2;
	cornerRadius 	: 6;
	paddingLeft		: 8;
	focusRoundedCorners: tr tb;
}

.titleTextStyle
{
	fontFamily : Arial;
	fontSize   : 14;
	fontWeight : bold;
	color      : #d9dadb;
	textIndent : 15;
}

PopUpToolBar
{
    /*removedEffect: "DockerFade";
        moveEffect: "DockerMove";*/

    /*backgroundColor: #9199A4;*/

    /*borderAlpha: 1.0;
        borderStyle: "default";
        borderThickness: 0;*/

    /* borderThicknessBottom is NaN */

    /*borderThicknessLeft: 0;
        borderThicknessRight: 0;
        borderThicknessTop: 0;
        cornerRadius: 8;
        dropShadowEnabled: true;
        paddingBottom: 0;
        paddingLeft: 0;
        paddingRight: 0;
        paddingTop: 0;
        headerHeight: 20;*/
}

.infoTextStyle
{
	fontFamily : Arial;
	fontSize   : 14;
	color	   : #ffffff;
	
}

.browseBtnStyle
{
	paddingLeft	: 2;
	paddingRight : 2;
	paddingTop : 0;
	paddingBottom : 0;
	backgroundColor: red;
	backgroundGradientColors : #cccccc, #ffffff;
}

.dlgHeader
{
    paddingLeft     : 20;
    paddingRight    : 10;
    paddingTop      : 10;
    paddingBottom   : 5;

    percentWidth    : 100;

    backgroundColor : #f1f1f0;
}

.dlgContent
{
    verticalGap     : 5;
    paddingLeft     : 10;
    paddingRight    : 10;
    paddingTop      : 10;
    paddingBottom   : 5;

    percentWidth    : 100;
    percentHeight   : 100;

    horizontalAlign : center;
}

.dlgFooter
{
    percentWidth    : 100;

    horizontalAlign : right;
    verticalAlign   : bottom;
}
