/*
Please remember to add the following effects to the main application.

	<mx:Move duration="100" id="DockerMove"/>
	<mx:Fade duration="100" id="DockerFade"/>
*/

WindowedApplication
{
	fontFamily: "Tahoma", "Helvetica", "_sans";
	fontSize: 11;
}

Window
{
	backgroundColor: #e1e1e0;
	verticalGap: 0;
	horizontalGap: 0;	
}

Docker
{
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	
	dockingAreaStyleName: "dockingArea";
	rowStyleName: "dockingRow";
}

DockableToolBar
{
	/*addedEffect: "DockerFade";
	borderStyle: "none";
	horizontalGap: 2;
	paddingBottom: 2;
	paddingLeft: 0;
	paddingRight: 8;
	paddingTop: 2;*/
	/*backgroundColor: #9199A4;*/
}	

GridItem
{
	horizontalGap: 1;
}

.dockingArea
{
	/*horizontalScrollPolicy: "off";
	verticalGap: 0;
	borderStyle: "applicationControlBar";
	dropShadowEnabled: true;	*/
}

.dockingRow
{
	/*horizontalGap: 1;
	addedEffect: "DockerFade";
	removedEffect: "DockerFade";*/
}

.headerLabel
{
	fontFamily: "Arial", "Helvetica", "_sans";
    fontSize: 16;
    fontWeight: bold;
    textIndent: 0;
	color: #16414A;	
}

PopUpToolBar
{
	/*removedEffect: "DockerFade";
	moveEffect: "DockerMove";*/
	
	/*backgroundColor: #9199A4;*/
	
	/*borderAlpha: 1.0;
	borderStyle: "default";
	borderThickness: 0;*/
	
	/* borderThicknessBottom is NaN */
	
	/*borderThicknessLeft: 0;
	borderThicknessRight: 0;
	borderThicknessTop: 0;
	cornerRadius: 8;
	dropShadowEnabled: true;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	headerHeight: 20;*/
}

        
.dlgHeader
{
	paddingLeft: 20;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom : 5;
	
	percentWidth: 100;
		
	backgroundColor: #f1f1f0;
}

.dlgContent
{
	verticalGap: 5;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 5;
	
	percentWidth: 100;
	percentHeight: 100;
	
	horizontalAlign: center;
}

.dlgFooter
{
	percentWidth: 100;
	
	horizontalAlign: right;
	verticalAlign: bottom;
}
