/* Global style declaration */

@font-face
{
    src        : url("assets/fonts/arial.ttf");
    fontFamily : Arial;
}

global
{
    /*backgroundAlpha: 1.0; /* this runs the opacity of nearly every square piece of the components */
    /*backgroundSize: "auto";*/

    titleBarButtonBgColor : #494848;

    /*fillAlphas: 0.3, 0.3, 0.85, 0.75; /* last pair are for OVER state */
    /*fillColors: #AE4731, #BFD5E8, #E42226, #A8D0E2;*/

    /*highlightAlphas: 0.08, 0.14; /* use this to control the 'light' cast on the components */

    /* themeColor	*/
    themeColor            : #2ba6e5;
    /*rollOverColor: #D3BABA;*/
    /*selectionColor: #D3989C;*/

    fontFamily            : Arial;
    fontSize              : 10;
}

/*
//------------------------------
//  WindowedApplication
//------------------------------
*/

TitleBar
{
    /*titleBarButtonBgColors : #707173, #ffffff;*/
	backgroundAlpha : 0;
}

WindowedApplication
{
    headerHeight             : 30;
	
    cornerRadius             : 9;
	
    titleTextStyleName       : "titleTextStyle";
    
	titleBarColors           : #ffeae6, #000000, #666666;

	titleBarButtonPadding    : 8;
    titleBarBackgroundSkin   : ClassReference("net.vdombox.powerpack.customize.skins.GeneratorApplicationTitleBarBackgroundSkin");
	
    borderColor              : #424242;
    borderThickness          : 8;
    
    buttonPadding            : 2;
    buttonAlignment          : "auto";
	
	minimizeButtonSkin		 : ClassReference("net.vdombox.powerpack.customize.skins.MinimizeButtonSkin");
	maximizeButtonSkin		 : ClassReference("net.vdombox.powerpack.customize.skins.MaximizeButtonSkin");
	closeButtonSkin			 : ClassReference("net.vdombox.powerpack.customize.skins.CloseButtonSkin");
}

GenModalDialog
{
    borderColor            : #707173;
    titleTextStyleName     : "titleTextStyle";
    titleBarColors         : #ffeae6, #000000, #666666;
    titleBarButtonPadding  : 2;
    buttonPadding          : 2;
    headerHeight           : 30;
    buttonAlignment        : "auto";
    verticalGap            : 0;
    horizontalGap          : 0;
    backgroundColor        : #e1e1e0;

    titleBarBackgroundSkin : ClassReference("net.vdombox.powerpack.customize.skins.GeneratorApplicationTitleBarBackgroundSkin");
}

Label
{
    color    : #ffffff;
    fontSize : 12;
}




ProgressBar
{
    trackColors : #aaaaaa, #aaaaaa;
    trackHeight : 12;
    barColor    : #333333;
    barSkin     : ClassReference("net.vdombox.powerpack.customize.skins.GeneratorProgressBarSkin");
	color		: #ffffff;
}


PowerPackInstallerButton
{
	color			: #000000;
	fontSize		: 16;
	fontFamily		: Arial;
	skin			: ClassReference("net.vdombox.powerpack.customize.skins.GradientButtonSkin");
	buttonBgColors	: #f1f1f1, #b4b4b4;
	cornerRadius	: 13;
}

GridItem
{
    horizontalGap : 1;
}

.titleTextStyle
{
    fontFamily : Arial;
    fontSize   : 14;
    fontWeight : bold;
    color      : #d9dadb;
    textIndent : 15;
}

.edtTextStyle
{
    fontFamily      : Arial;
    fontSize        : 14;
    fontWeight      : bold;

    color           : #666666;
    borderStyle     : solid;
    borderColor     : #5A5859;
    borderThickness : 2;
}

.infoTextStyle
{
    fontFamily : Arial;
    fontSize   : 14;
	color	   : #ffffff;
}

.dlgHeader
{
    paddingLeft     : 20;
    paddingRight    : 10;
    paddingTop      : 10;
    paddingBottom   : 5;

    backgroundColor : #f1f1f0;
}

.dlgContent
{
    verticalGap   : 5;
    paddingLeft   : 20;
    paddingRight  : 10;
    paddingTop    : 10;
    paddingBottom : 5;
}

.dlgFooter
{
    horizontalAlign : right;
    verticalAlign   : bottom;
}

.headerLabel
{
    fontFamily : "Arial";
    fontSize   : 46;
    fontWeight : normal;
    textIndent : 0;
    color      : #ffffff;
}




